{% extends "accounts/darkpan/base.html" %}

{% block content %}

{% csrf_token %}

            <!-- Модальное окно -->           
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                    <div class="modal-content bg-secondary rounded ">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Заказ #123123</h1>
                        <button type="button" class="btn btn-square btn-secondary m-2" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close" aria-hidden="true"></i>
                        </button>
                      </div>
                      <form method="post" class="form-edit" action="">
                      <div class="modal-body">
                          <h2 class="fs-5">Popover in a modal</h2>
                          <p>This <button class="btn btn-secondary" data-bs-toggle="popover" title="Popover title" data-bs-content="Popover body content is set in this attribute.">button</button> triggers a popover on click.</p>
                          <hr>
                          <h2 class="fs-5">Tooltips in a modal</h2>
                          <p><a href="#" data-bs-toggle="tooltip" title="Tooltip">This link</a> and <a href="#" data-bs-toggle="tooltip" title="Tooltip">that link</a> have tooltips on hover.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit"  class="btn btn-primary">Сохранить</button>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>
            <!-- Модальное окно -->



            <!-- Sales Chart Start -->
            <!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Worldwide Sales</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Salse & Revenue</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="salse-revenue"></canvas>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Заявки</h6>                        
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-borderless table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">id</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Время</th>
                                    <th scope="col">Форма</th>
                                    <th scope="col">Телефон</th>
                                    <th scope="col">Статус</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>                                

                                {% for item in orders %}
                                  
                                    <tr>                                        
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.time_create }}</td>
                                        <td>{{ item.which }}</td>
                                        <td>{{ item.tel }}</td>

                                            {% for itemme in item.STATUS_BID %}
                                                {% if item.status in itemme.0 %}
                                                    <td>{{ itemme.1 }}</td>                                                
                                                {% endif %}
                                            {% endfor %}
                                        <!-- <td>{{ item.status }} </td> -->
                                        <td>
                                            <!-- <a class="btn btn-sm btn-outline-light" href="">Смотреть</a> -->
                                            <button type="button" class="btn btn-square btn-secondary getorder" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id-order="{{ item.id }}" data-path="/orders/{{ item.id }}/">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </button>
                                            <!-- <button type="button" class="btn btn-square btn-outline-dark m-2 del"   data-id-order="{{ item.id }}" data-path="/orders/del/{{ item.id }}/">
                                                <i class="fa-solid fa-trash"></i>
                                            </button> -->
                                            <a href="del/{{ item.id }}/" class="btn btn-square btn-outline-dark m-2"><i class="fa-solid fa-trash"></i></a>


                                        </td>
                                    </tr>

                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->

            

{% endblock %}