{% extends "accounts/darkpan/base.html" %}

{% block content %}            


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Посетители</h6>                        
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">id</th>
                                    <th scope="col">ip</th>
                                    <th scope="col">Браузер</th>                                    
                                    <th scope="col">Время</th>                                    
                                </tr>
                            </thead>
                            <tbody>                                

                                {% for item in visitors %}
                                  
                                    <tr>                                        
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.ip }}</td>
                                        <td>{{ item.browser }}</td>
                                        <td>{{ item.time_create }}</td>
                                    </tr>

                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->

{% endblock %}