{# Name → Блок контактов #}
{# File → contacts #}
{# Height → 494 px #}
{# Description → Блок с адресами, телефонами и электронной почтой #}
{# Type → Дополнительный блок #}
{# Type_base → themes #}
{# Base → {"title": {"title": "title", "H4": "Контакты "}, "adres": {"adres": "adres","add_block":"true", "item": [{"str": "Республика Коми, г.Ухта, ул. Западная, 18, офис 6"}, {"str": "Республика Коми, г.Ухта, ул. Западная, 18, офис 6"}]}, "telefons": {"telefons": "telefons","add_block":"true", "item": [{"int": "+7 (8216) 74-40-65"}, {"int": "+7 (8216) 74-40-65"}]}, "emails": {"emails": "emails","add_block":"true", "item": [{"str": "info@admin11.ru"}, {"str": "info@admin11.ru"}]}, "picture": {"picture": "picture", "image": "/static/landing/images/contact.svg"}, "form": {"form": "form", "label": "Обратная связь", "fields": "['name','email','message']", "button": "Отправить "}} #}


{% load static %}
{% load poll_extras %}
{% with block=item.content|strtoarr %}

<!-- Контакты -->
<a name="contacts"></a>
<div class="container px-4 py-5">
  <div class="row g-5">
    <div class="col-1 d-none d-md-block"></div>


    <div class="col-12 col-md">

      <h4 class="mb-5">{{block.title.H4}} </h4>
      <div class="card" >
        <div class="card-body">          
          <div class="mb-4">
            <h6>Адрес :</h6>
            {% for item in block.adres.item %}
              <small class="text-muted">{{item.str}}</small>
            {% endfor %}
          </div> 
          <div class="mb-4">
            <h6>Телефоны :</h6>
            {% for item in block.telefons.item %}
              <small class="text-muted">{{item.int}}</small>
            {% endfor %}
          </div>  
          <div class="mb-4">
            <h6>Эл. почта :</h6>
            {% for item in block.emails.item %}
              <small class="text-muted"><a href="{{item}}">{{item.str}}</a></small>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>


    <div class="col d-none d-md-block align-self-center">

      <img src="{{block.picture.image}}" class="rounded mx-auto d-block">

    </div>


    <div class="col-12 col-md">  
      <form action="post/" method="POST">
        {% csrf_token %}
        <h4 class="mb-5">{{block.form.label}}</h4>
            <input name="form_name" type="hidden" value="{{contacts.form.label}}">
          
            {{block.form.fields|get_form }}

         <!--  <div class="form-floating mb-3">
            <input name="name" type="text" class="form-control" id="floatingInput" placeholder="123">
            <label for="floatingInput">Имя</label>
          </div>

          <div class="form-floating mb-3">
            <input name="telephone" type="tel" class="form-control" id="floatingTel" placeholder="+" maxlength="18" data-tel-input>
            <label for="floatingTel">Телефон</label>
          </div>
          <div class="form-floating mb-3">
            <textarea name="message" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Сообщение</label>
          </div> -->

          <div class="form-floating">
            <button type="submit" class="btnSubmits btn btn-warning btn-lg">{{block.form.button}}</button>
          </div>
        </form>  
    </div>

    <div class="col-1 d-none d-md-block"></div>
  </div>
</div>
<!-- Контакты -->
{% endwith %}