{% load static %}
{% load poll_extras %}
<!-- Навигация -->



 
{% if edit_mode == "True" %}
  <div class="container-fluid header-transparent bg-light" style="position: absolute; top: 40px;">
{% else %}
  <div class="container-fluid header-transparent fixed-top bg-light" >
{% endif %}

  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1">
     

      <nav class="shadow navbar navbar-expand-lg fixed-top bg-light" style="position: absolute; " >     
        <div class="container">
          
          <!-- Лого -->
          <div class="col-2">
           
            
            <a href="{{ logo.link }}" class="logo col-3 d-flex align-items-center col-md-3 mb-2  text-dark text-decoration-none"
            style="background-image: url( {% static 'landing/'%}{{ header.logo.image }} ) !important;"></a>
          </div>
          <!-- Лого -->

          <!-- Кнопка меню -->
          <button class="navbar-toggler" style="display:none;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Кнопка меню -->

          <!-- Меню -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="col-10 offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Навигация</h5>
                <button type="button" id="myOffcanvas" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 ps-5">

                  {% for item in header.menu.item %}
                    
                    <li class="nav-item">
                      <a class="menu-link nav-link link-secondary" href="{{  item.link }}" data-bs-dismiss="myOffcanvas">{{  item.label }}</a>
                    </li>

                  {% endfor %}
                  
                </ul>
                <div class="social-link col-md-3 text-lg-end ps-5">
                  {% for item in header.social_link.item %}
                    <a href="" class="link-dark "><i class="bi bi-{{ item.label }}"></i></a>
                   
                  {% endfor %}
                </div>
                
              </div>
            </div>
          <!-- Меню -->

        </div> 
      </nav>

    </header>
  </div>
</div>
<div class="mb-2"></div>

<!-- Навигация -->