{# Name → Герой #}
{# File → hero #}
{# Height → 692 px #}
{# Description → Основной банер с привлекательной изображением #}
{# Type → Дополнительный блок #}
{# Type_base → themes #}
{# Base → {"picture": {"picture": "picture", "image": "/static/landing/images/heroes.svg"}, "warning": {"warning": "warning", "h3": "Предупредим о возможных расходах"}, "title": {"title": "title", "H1": "Обслужим 20 ПК"}, "title2": {"title2": "title2", "H2": "за 70 т.р./месяц."}, "description": {"description": "description", "p": "Абонентское обслуживание в Сисадмине дешевле, быстрее, качественнее и надежнее, чем услуги частного мастера или ИТ-специалиста в штате."}, "button": {"button": "button", "label": "Заказать", "link": "#price"}} #}


{% load static %}
{% load poll_extras %}
{% with block=item.content|strtoarr %}

<!-- Герой -->
<div class="container-fluid overflow-hidden" style="background-color: gold;" >
  <div class="container px-4 py-5" >
      <div class="row  align-items-center g-5 py-5" >

        <div class="col-lg-1 position-relative left-8 left-lg-0 d-none d-lg-block d-xl-block" style="height: 500px;"></div>
        
        <div class="col-12 col-lg-6 pr-lg-5 d-none d-lg-block">

              <img src="{% static 'landing/'%}images/heroes.svg" class="d-block mx-lg-auto img-fluid" alt="Admin11" width="700" height="500" loading="lazy">           
        </div>       

        <div class="col-12 col-lg-5 pr-lg-5">
          <h6>- {{ block.warning.h3}}</h6>
          <h1 class="display-5 fw-bolder lh-1 mb-4">{{ block.title.H1 }} 
            <strong class="d-block font-weight-bold h1">{{block.title2.H2}}</strong>
          </h1>
            
          
          <p class="lead opacity-8">{{ block.description.p}}</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-dark btn-lg px-4 me-md-2" href="{{ block.button.link}}">{{ block.button.label}}</a>                     
          </div>
        </div>    

        <div class="col-12 col-lg-6 pr-lg-5 d-block d-lg-none p">

              <img src="{{ block.image }}" class="rounded mx-auto d-block" alt="Admin11"  loading="lazy">           
        </div>            

    </div>
  </div>
</div>
<!-- Герой -->
{% endwith %}